## Abschluss der Arbeit 

Abhängig von der Art der Arbeit unterscheiden sich die Prozesse und Formalia. Hier die verschiedenen Varianten:

### Praxisprojekt
Das fertige Praxisprojekt muss im Rahmen des [Praxisprojektseminars](https://th-koeln.github.io/mi-bachelor-praxisprojektseminar/) vorgestellt und diskutiert werden. Die Ausarbeitung sowie weitere Artefakte hinterlegen oder verlinken Sie bitte via [Thesis Repo](https://github.com/cnoss/theses). Hinterlegen Sie hier auch ein Abstract in deutsch und in englisch.

### Bachelor- und Masterarbeit
Die Arbeit muss fristgerecht den Prüfer:innen und dem [Studienbüro](https://www.th-koeln.de/studium/studienbuero-campus-gummersbach_5313.php) bereit gestellt werden. Die Prüfer:innen bewerten die Arbeit. Wird diese mit 4.0 oder besser bewertet, vereinbaren wir einen Termin für das Kolloquium, welches dann die letzte Prüfung im Studium ist. 

Zusätzlich zur Abgabe an die Prüfer:innen und dem Studienbüro, hinterlegen oder verlinken Sie Ihre Ausarbeitung sowie weitere Artefakte Sie bitte via [Thesis Repo](https://github.com/cnoss/theses). Stellen Sie hierüber auch ein Abstract in deutsch und in englisch bereit.

Hier finden Sie einige [Tipps & Informationen zum Kolloquium](information-on-the-colloquium).


