{% assign topics = site.research-questions | where: "status", "proposal" %}
{% assign topics = topics | sort: 'name' %}


## Aktuelle Themenvorschläge

<ul class="topic-overview is-full-width">
{% for topic in topics %}

<a class="wrap" href="{{topic.url | relative_url}}">
<li class="topic-item">
    <h3>{{topic.title}}</h3>
    <p>{{topic.datum | date: "%d.%m.%Y" }}</p>
    <ul class="keywords">{% for list-item in topic.keywords %}<li>{{list-item}}</li>{% endfor %}</ul>
</li>
</a>
{% endfor %}
</ul>