## Während der Arbeit 

Die Arbeit/ Projekt führen Sie weitesgehend selbständig durch. Falls Sie Feedback oder Unterstützung benötigen, kommen Sie bitte auch in die Sprechstunde. Ich brauche keine Statusupdates oder Zwischenversionen. Bei Bedarf kann ich das **Inhaltsverzeichnis**, die **Einleitung** und das **Literaturverzeichnis** gegenlesen. Stellen Sie auch hierfür bitte die Korrekturversionen via [Thesis Repo](https://github.com/cnoss/theses) bereit und initieren Sie einen Pull Request.



