*{
  box-sizing: border-box;
}

html, body{
  font-family: $font-family-sans;
  font-size: $base-font-size;
  line-height: $lh-default;
  font-weight: $fw-light; 
  hyphens: auto;
  color:$text-color;
  scroll-behavior: smooth;

}

body{
  background-color:$background-color;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
}

blockquote{
  background-color: $darken-light;
  padding: $m;
  border-left: solid $border-width $yellow;
}


h1, h2, h3, h4{
  line-height: $lh-tight;
  font-weight: $fw-bold;
  color: $headline-color;
  hyphens: none;
}

h2{
  font-weight: $fw-medium;
}

h3{
  font-weight: $fw-medium;
  color: $blue;
}

h1, h2, h3, h4, p, blockquote{
  margin-bottom: $m;
}

h1{
  font-size: $l;
  font-weight: $fw-bold;
  @media only screen and (min-width: $vp-medium) {
    font-size: $xl;
    font-weight: $fw-normal;
  }
}

h2{
  font-size: $m;
  font-weight: $fw-medium;
  color: $darker;
  @media only screen and (min-width: $vp-medium) {
    font-size: $l;
  }
}

h3{
  font-size: $m;
}

h2 + h3{
  margin-top: $l;
}

p{
  margin-bottom: $xs;
}

p + h2{
  margin-top: $l;
}

p + h3{
  margin-top: $l;
}

img{
  width: 100%;
}

em{
  font-weight: $fw-normal;
}

ul:not([class]){
  margin-bottom: $l;
  li{
    display: block;
    margin-bottom: $xxs;
    margin-left: $m;

    &::before{
      content:"»";
      margin-left: -$m;
      padding-right: $s;
      color: $icon-color;
      font-weight: $fw-bold;
    }
  }
}

dl{
  margin-bottom: $l;

  dt{
    font-weight: $fw-medium;
    display: block;
    float: left;
    margin-right: $xs;
    &:after{
      content: ":";
    }
  }

  dd{
    display: block;
    margin-bottom: $xs;;
  }
}

.title{
  font-weight: $fw-bold;
  @media only screen and (min-width: $vp-medium) {
    font-weight: $fw-normal;
  }
}

.subtitle{
  font-weight: $fw-medium;
  line-height: $lh-default;
  margin-top: $s * -1;
  @media only screen and (min-width: $vp-medium) {
    font-weight: $fw-normal;
  }
}

strong{
  font-weight: $fw-medium;
}

a{
  color: $interaction-color;
  text-decoration: none;
}

a:not(.wrap){
  text-decoration: none;
  transition: all 0.3s;
  font-weight: $fw-medium;
  border-bottom: solid 2px $decoration-color;  

  &.extern::before{
    @extend .icon;
    content: "open_in_new";
    color: $interaction-color;
  }

  &:hover{
    background-color: $decoration-color;
    color: $lighter !important;
  }
}

._layout-wrap{
  display: grid;

  grid-template-columns: 0 1fr;
  transition: all 0.3s;

  @media only screen and (min-width: $vp-large) {
    grid-template-columns: 200px 1fr;
  }

  @media only screen and (min-width: $vp-xlarge) {
    grid-template-columns: 400px 1fr;
  }
}

