@media only screen and (max-width: $max-width-content) {
  .header,
  .page,
  .footer {
    padding: $s;
  }
}

@media only screen and (min-width: $max-width-content) {
  .header,
  .page{
    flex: 0 1 auto;
    margin-left: $xl;

    & > * {
      padding-right: $xl;
    }

    & > * > *:not(.is-full-width){
      max-width: $max-width-content;
    }
  }

  .footer{
    padding-left: $xl;
  }
}


// Home Button
// ------------------------------------------------------------------------- //
.home-button {
  margin-top: $xl;
  margin-bottom: $l;

  & > a{
    text-decoration: none;
    border: none;
    transition: transform $tr-medium;

    &:hover{
      background-color: transparent;
      transform: rotate(60deg);
    }
  }
}

// Page
// ------------------------------------------------------------------------- //
.page {
  padding-bottom: $xl;
  flex: 1 1 auto;
}

// Header
// ------------------------------------------------------------------------- //
.header {
  text-align: center;
  padding-bottom: $xl;
  
  @media only screen and (min-width: $vp-medium) {
    text-align: left;
  }

  .title {
    font-size: $l;
    font-weight: $fw-medium;
    color: $decoration-color;
    margin-bottom: $m;
  }
  .subtitle,
  .subtitle a {
    font-size: $m;
    color: $dark;
  }

  @media only screen and (min-width: $vp-medium) {
    .title{
      font-size: $xl;
    }
    .subtitle, .subtitle a{
      font-size: $l;
    }
  }

}

// Section
// ------------------------------------------------------------------------- //
.section {

  &.has-seperator{
    border-top: dotted $border-width $border-color;
    margin-top: $l;
    padding-top: $l;
  }
}

// Contact
// ------------------------------------------------------------------------- //
.contact {}

// Toc
// ------------------------------------------------------------------------- //
.toc {
  &__item {
    padding-top: $xs;
    padding-bottom: $xs;
    border-top: solid 1px $seperator-color;
    max-width: $vp-medium;
  }
}

// Footer
// ------------------------------------------------------------------------- //
.footer {
  padding-top: $m;
  background-color: $dark;
  color: $lighter;
  padding-bottom: $xl;
  a {
    color: $lighter;
  }
}


// Herotext
// ------------------------------------------------------------------------- //
.herotext {
  font-size: $m;
  font-weight: $fw-normal;
  line-height: $lh-default;
  @media only screen and (min-width: $vp-medium) {
    font-size: $l;
    font-weight: $fw-normal;
  }
}


// Taglist
// ------------------------------------------------------------------------- //
.taglist {
  &--linear li {
    display: inline-block;
  }
  &__item {
    &::before {
      content: '#';
      color: $decoration-color;
    }
  }
}

// Avatar
// ------------------------------------------------------------------------- //
.avatar {
  border-radius: 50%;
  width: 100%;
  max-width: 300px;
}


// Topic Overview
// ------------------------------------------------------------------------- //
.topic-overview {
  margin-top:$xl;
  display: grid;
  gap: $s;
  grid-template-columns: repeat(auto-fill,minmax(16em,1fr));
  
  .topic-item{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;

    &::before{
      content: none;
    }

    margin-left: 0;
    padding-bottom: $m;
    
    border-bottom: solid 3px $pink;
  
    h3{
      padding-top: $m;
      margin-bottom: $s;
    }

    p{
      line-height: $lh-tight;
    }

  }
}


// Metadata
// ------------------------------------------------------------------------- //

.metadata{
  dt, dd{
    padding-top: $xs;
    border-top: solid $border-width $green;
  }
}

// Keywords
// ------------------------------------------------------------------------- //

.keywords{
  li{
    display: inline;
  }

  li + li::before{
    content:",";
  }
}